.hero {
    position: relative;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: url(./images/hd-3.jpg)
}

@media (max-width: 980px) {
    .hero {
        height: auto;
        padding: 2rem 0;
    }
}